.categoryPage {
	/* Posts archive layout container */
}

.rangeSection {
	margin-top: 4.8rem;
	margin-bottom: 3.2rem;
	text-align: center;
	font-size: 1.8rem;
}

.cardsSection {
	margin-bottom: 4.8rem;
}
