.container {
	width: 100%;
	max-width: 124rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1.6rem 1.6rem;
	transition: padding 0.3s ease;
}

@media (max-width: 640px) {
	.container {
		padding: 1.8rem 4rem;
	}
}

@media (min-width: 1471px) {
	.container {
		max-width: 160rem;
		padding: 1.8rem 8rem;
	}
}