# Database Configuration
DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/colleagues-travel-and-tours
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Server Configuration
NEXT_PUBLIC_SERVER_URL=https://demo.colleaguestravel.com.np

# Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM_ADDRESS=info@colleagues-travel.com
SMTP_FROM_NAME=Colleagues Travel