DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE


#DATABASE_URL=postgres://postgres:qH2ZhghGK9FS7ZOsmVFT5FK5xfJzUOQ91gJIrKb3hKkwVUSeCC8lYDUggBd6r3lb@fx3ps4ftaqa2vb2yj65rge97:5432/postgres
#PAYLOAD_SECRET=1fde1f2da1e35ffad6d426df
#NEXT_PUBLIC_SERVER_URL=https://demo.colleaguestravel.com.np/

# Email Configuration
#SMTP_HOST=smtp.yourprovider.com
#SMTP_PORT=587
#SMTP_USER=your-user
#SMTP_PASS=your-password
#SMTP_FROM_ADDRESS=info@colleagues-travel.com
#SMTP_FROM_NAME=Colleagues Travel