# Database connection string
DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/colleagues-travel-and-tours

# Payload secret used for sessions and encryption
PAYLOAD_SECRET=YOUR_PAYLOAD_SECRET

# The URL of your server - used for SEO, absolute URLs, and cross-domain requests
NEXT_PUBLIC_SERVER_URL=https://demo.colleaguestravel.com.np

# Optional: Disable telemetry
NEXT_TELEMETRY_DISABLED=1