.brandLink {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  z-index: 0;
}

.brandImage {
  height: 57px;
  // max-width: 100%;
  object-fit: contain;
  display: block;
  flex-shrink: 1;
  padding-right: 0.5rem;
}
