.title {
  font-size: var(--type-content-title);
  font-weight: 700;
  margin-bottom: 3.2rem;
  line-height: var(--leading-heading);
}

.cardsWrapper {
  margin-top: 2rem;
}

.paginationWrapper {
  margin-top: 3rem;
}
