.carouselContainer {
  width: 100%;
  position: relative;
  padding-bottom: 6.4rem;

  .navButton {
    position: absolute;
    bottom: 0;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #d1d5db;
    color: #374151;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: 0.2s ease;

    &:hover {
      background: var(--color-primary);
      color: #fff;
    }

    &.prev {
      left: calc(50% - 5.4rem);
    }

    &.next {
      right: calc(50% - 5.4rem);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media (min-width: 768px) {
  .carouselContainer {
    padding-bottom: 0;

    .navButton {
      top: 35%;
      bottom: auto;
      transform: translateY(-35%);

      &.prev {
        left: -5.5rem;
      }

      &.next {
        right: -5.5rem;
      }
    }
  }
}

@media (min-width: 1400px) {
  .carouselContainer {
    .navButton {
      &.prev {
        left: -6rem;
      }

      &.next {
        right: -6rem;
      }
    }
  }
}

.srOnly {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.placeholderCard {
  background: var(--theme-elevation-100);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mySwiper {
  padding: 1rem 0 !important;
}

.carouselFallback {
  display: grid;
  gap: 30px;
  grid-template-columns: minmax(0, 1fr);
}

.carouselFallbackItem:nth-child(n + 2) {
  display: none;
}

@media (min-width: 768px) {
  .carouselFallback {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .carouselFallbackItem:nth-child(2) {
    display: block;
  }
}

@media (min-width: 1024px) {
  .carouselFallback {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .carouselFallbackItem:nth-child(3) {
    display: block;
  }
}

.swiper-slide-next {
  transform: scale(1.08);
  background-color: #374151;
}
