.input {
  display: flex;
  height: 4rem;
  width: 100%;
  border-radius: 0.4rem;
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-background);
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;

  &::file-selector-button {
    border: 0;
    background: transparent;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &::placeholder {
    font-family: var(--font-jost);
    color: #000000;
    font-style: italic;
    font-size: 1.4rem;
    opacity: 0.3;
  }

  &[type='date'] {
    display: block;
    font-family: var(--font-jost);
    padding-right: 4rem;
    position: relative;

    &::-webkit-datetime-edit {
      text-align: left;
    }

    &::-webkit-calendar-picker-indicator {
      cursor: pointer;
      height: 1.8rem;
      margin: 0;
      position: absolute;
      right: 1.2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.8rem;
      // filter: invert(20%) sepia(90%) saturate(3000%) hue-rotate(21deg) brightness(90%) contrast(100%);
    }

    &[data-empty='true'] {
      color: rgb(0, 0, 0);
      font-size: 1.4rem;
      font-style: italic;

      &::-webkit-datetime-edit {
        color: #000000;
        font-family: var(--font-jost);
        font-size: 1.4rem;
        font-style: italic;
        opacity: 0.3;
      }

      &::-webkit-datetime-edit-day-field,
      &::-webkit-datetime-edit-month-field,
      &::-webkit-datetime-edit-year-field,
      &::-webkit-datetime-edit-text {
        color: #000000;
      }
    }
  }

  &:focus-visible {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px var(--color-primary-30);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}