:root {
  --color-primary: #f59e0b;
  --color-primary-dark: #d97706;
  --white-color: #fff;

  /* Fonts */
  --primary-font: var(--font-inter), sans-serif;
  --secondary-font: var(--font-jost), sans-serif;

  /* Font Sizes */
  --font-xl: 2.4rem;
  --font-lg: 2rem;
  --font-md: 1.8rem;
  --font-sm: 1.6rem;
  --font-xs: 1.4rem;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  background-color: var(--white-color);
  color: var(--color-foreground);
  line-height: 1.5;
}
