.content {
    color: var(--text-color);
    font-size: 1.8rem;
    line-height: 1.8;
    font-family: var(--font-jost);

    p {
        margin-bottom: 1.4rem;

        &:first-of-type {
            text-indent: 4rem;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}