.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns, 3), 1fr);
  gap: 2rem;
  padding: 2rem 0;
}

.linkContainer {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
