.lowImpactHero {
  // background-color: oklch(96.2% 0.059 95.617);
  background-color: rgba(98, 116, 142,0.2);
  // padding: 0.4rem 0;
  // margin-top: 1rem;
}

.title {
  font-size: var(--type-subsection-title);
  font-weight: 400;
  margin-top: 1rem;
  color: #878787;
  text-transform: capitalize;
}

.breadcrumbs_custom {
  --br-item-font-size: 1.4rem !important;
  --br-separator-color: var(--color-gray-800) !important;
}
